.Title-header {
  max-width: 450px;

  font-weight: 600;
  font-size: 64px;
  line-height: 75px;

  color: #fff;
}
.Title-subheader {
  margin: 10px;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #e4e4e4;
}
